/* .depth2 {
  display: none;
} */

.shadow-custom {
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
/* 
body {
  font-family: 'Lato', 'Pretendard-Regular', '맑은 고딕', sans-serif;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel-number-fade-in {
  animation: fadeIn 2s ease-in-out;
}
