@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', 'Pretendard-Regular', '맑은 고딕', sans-serif;
  word-break: keep-all;
}
